<template>
  <div>
    <MenuHomePage />
    <v-container id="homepage" class="mb-15">
      <v-row>
        <v-col md="6" class="content">
          <h2>GitLab Classroom</h2>
          <h1>Bem-vindo(a) ao GitLabClassrom!</h1>
          <p>
            Uma plataforma planejada para você que procura uma forma simples e
            didática de aprender ou ensina a utilização de ferramentas de
            versionamento de código como o GitLab!
          </p>
          <p>É<strong> novo por aqui?</strong> Continue rolando e conheça mais sobre a gente!</p>
          <p>
            Já faz parte da nossa ferramenta? Então realize o seu login e
            confira as novas atividades!
          </p>
          <div class="d-flex justify-center">
            <v-btn
              @click="_onHandler"
              color="orange darken-3"
              class="white--text mr-2 text-lower-case"
              >Login</v-btn
            >
          </div>
        </v-col>
        <v-col md="6">
          <v-img
            class="img-logo"
            max-width="500"
            max-height="500"
            :src="image"
          />
        </v-col>
      </v-row>
    </v-container>
    <v-container fluid class="background-grey mt-4">
      <v-container>
        <v-row>
          <v-col md="6">
            <v-img max-width="500" max-height="500" :src="teacher" />
          </v-col>
          <v-col md="6" class="content">
            <h2>De alunos para</h2>
            <h1>você Professor</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea,
              numquam nobis esse quidem architecto repudiandae doloremque, totam
              nisi iure magnam soluta officiis quis? Incidunt, deserunt est! Ea
              voluptate accusantium nemo.
            </p>
          </v-col>
        </v-row>
      </v-container>
    </v-container>
    <v-container id="advantage" class="mt-10">
      <v-row>
        <v-col md="4">
          <v-card max-width="300px" style="margin: 0 auto">
            <h3 class="text-center">
              <v-icon color="orange" size="80" class="mr-3"
                >fab fa-gitlab</v-icon
              ><br />
              <span>Infraestrutura</span>
            </h3>
            <v-card-text>
              O GitLabClassroom funciona em segundo a já conhecida
              infraestrutura do GitLab, com o diferencial de uma interface
              voltada para o aprendizado
            </v-card-text>
          </v-card>
        </v-col>
        <v-col md="4">
          <v-card max-width="300px" style="margin: 0 auto">
            <h3 class="text-center">
              <v-icon color="orange" size="80" class="mr-3">fa fa-user</v-icon
              ><br />
              <span>Aluno</span>
            </h3>
            <v-card-text>
              Temos um sistema de fácil uso, que assim como nós alunos,
              queriamos uma plataforma que representasse nossa cara
            </v-card-text>
          </v-card>
        </v-col>
        <v-col md="4">
          <v-card max-width="300px" style="margin: 0 auto">
            <h3 class="text-center">
              <v-icon color="orange" size="80" class="mr-3">fa fa-book</v-icon
              ><br />
              <span>Professor</span>
            </h3>
            <v-card-text>
              Para você professor, terá a grande funcionalidade de poder
              visualizar o história de mudança de uma tarefa para aluno, assim
              facilitando na hora de corregir
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-container
      fluid
      id="life-easier"
      style="background: #1e1e1e"
      class="mt-10"
    >
      <v-row class="body">
        <h2 class="mb-15 mt-6">
          Pensado para quem quer tornar a vida mais fácil
        </h2>
        <v-card width="55%" style="padding: 40px" class="mb-15">
          <p>
            "After today I realize how simple this process really is. I never
            realized it would be so quick to set all of these things up and
            start using them for students. On top of this the support community
            is absolutely amazing!!"
          </p>
          <h4 class="text-center"><strong>Adam Laving</strong></h4>
          <h4 class="text-center" style="font-size: 1.2em">Brown University</h4>
        </v-card>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col md="6">
          <v-col md="12" class="content">
            <h2>GitLab Classroom</h2>
            <h1>Para o Aluno</h1>
            <p>
              Enquanto aluno você receberá instruções sobre o uso do Git e
              poderá realizar tarefas, participar de turmas e observar o seu
              desempenho em cada uma
            </p>
          </v-col>
          <v-col md="12">
            <v-img class="img-logo" :src="system" />
          </v-col>
        </v-col>
        <v-col md="6">
          <v-card dark>
            <v-col md="12" class="content">
              <h2>GitLab Classroom</h2>
              <h1>Para o Professor</h1>
              <p>
                Para você professor, ofertamos uma interface permite a criação
                de turmas, tarefas e facilita a administração e avaliação delas
              </p>
            </v-col>
            <v-col md="12">
              <v-img class="img-logo" :src="system" />
            </v-col>
          </v-card>
        </v-col>

        <v-col md="12" xs="12" sm="12">
          <v-btn
              @click="_onHandler"
              color="orange darken-3"
              class="white--text mr-2 text-lower-case"
              >Login</v-btn
            >
        </v-col>
      </v-row>
    </v-container>
    <v-container fluid style="background: #1e1e1e">
      <v-row>
        <v-col md="3" style="color: white">
          <span class="ml-5"> © 2020 GitLab Classroom, Inc. Terms Privacy </span>
        </v-col>
        <v-spacer />
        <v-col md="3" style="color: white">
          <footer>
            <ul>
              <li>Contato</li>
              <li>Organização</li>
            </ul>
          </footer>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import MenuHomePage from "../../components/MenuHomePage";
import image from "../../assets/imgs/livros-desenho.jpg";
import teacher from "../../assets/imgs/teacher-dashboard.png";
import system from "../../assets/imgs/sistema.png";

export default {
  name: "Homepage",
  data: () => ({
    image,
    teacher,
    system,
  }),
  components: {
    MenuHomePage,
  },
  methods: {
    _onHandler() {
      window.location.href = "http://localhost:8080/";
    },
  },
};
</script>

<style scoped>
.content {
  padding: 20px 50px;
}

.content h2 {
  text-align: start;
}

.content h1 {
  line-height: 58px;
  font-size: 48px;
}

.content p {
  margin: 40px auto;
}

.content .img-logo {
  margin: 20px auto 0;
}

.background-grey {
  background: #e1e4e8;
}

.text-lower-case {
  text-transform: lowercase;
}

#life-easier .body {
  margin-top: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-right: 20px;
  display: inline;
}
</style>