<template>
  <v-container>
    <v-row class="card contUser">
      <v-col cols="12" md="10">GRR{{userClass.grr}} - {{userClass.name}}</v-col>
      <v-col cols="12" md="2">
        <button @click="removeStudent(userClass.grr)">Remover</button>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["userClass"],
  methods: {
    ...mapActions("classes", ["removeStudent"]),
    _removeStudent(grr) {
      this.removeStudent(grr);
    },
  },
};
</script>

<style>
.contUser {
  box-shadow: 1px 4px 3px 1px lightgrey;
  border-radius: 23px;
  width: auto;
}
</style>
