<template>
  <v-list subheader>
    <v-subheader>Quantidade de registros: {{usersQuantity}}</v-subheader>

    <v-list-item v-for="member in members" :key="member.grr">
      <v-list-item-avatar>
        <v-img :src="member.avatar_url" v-if="member.avatar_url" />
        <v-gravatar :email="member.email" v-else />
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-title v-text="member.name" />
      </v-list-item-content>

      <v-list-item-icon>
        <v-list-item-title v-text="`# GRR${member.grr}`" />
      </v-list-item-icon>
    </v-list-item>
  </v-list>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  computed: {
    ...mapState("classes", ["members"]),
    ...mapGetters("classes", ["usersQuantity"]),
  },
};
</script>

<style scoped>
</style>