<template>
  <v-container>
    <GenericCard
      :ready="true"
      :color="getColor"
      icon="fas fa-book-open"
      title="Nova Turma"
      subtitle="Insira abaixo os dados da nova turma"
    >
      <v-row>
        <v-col md="6" xs="12">
          <v-radio-group
            v-model="klass.visibility"
            row
            persistent-hint
            hint="Selecione se a turma vai ser visivel para todos ou só para alguns"
          >
            <span class="mr-2">Privacidade:</span>
            <v-radio color="orange" label="Publico" value="public" />
            <v-radio color="orange darken-4" label="Privado" value="private" />
          </v-radio-group>
          <v-text-field
            class="mt-5"
            label="Título da turma"
            name="class"
            hint="Este campo é obrigatório(*)"
            persistent-hint
            type="text"
            v-model="klass.name"
            color="orange"
          />
          <v-textarea
            rows="4"
            label="Descrição da turma"
            type="text"
            color="orange"
            v-model="klass.description"
          />
          <btn-import-csv v-if="show_csv_import"></btn-import-csv>
        </v-col>
        <v-col md="6" xs="12">
          <h3 class="mt-6 mr-2 mb-4">Coloração:</h3>
          <p>Defina a cor de fundo da nova turma</p>
          <v-color-picker
            elevation="3"
            class="text-center"
            v-model="klass.background_color"
            dot-size="25"
            swatches-max-height="200"
          ></v-color-picker>
        </v-col>
      </v-row>

      <div class="mb-2 mt-2">
        <v-btn
          small
          :color="show_csv_import ? 'red' : 'orange darken-2'"
          class="mr-3 white--text"
          @click="_cancelImport"
        >
          {{ show_csv_import ? "Cancelar o import" : "Importar o CSV" }}
        </v-btn>
        <v-btn
          color="orange darken-3"
          small
          v-if="!show_csv_import"
          class="mr-3 white--text"
          @click="_openModal"
          >Adicionar Aluno</v-btn
        >
        <v-btn
          @click="_createClass"
          small
          :loading="loading"
          :disabled="!isValid"
          color="green"
          class="white--text"
          >Finalizar</v-btn
        >
      </div>
      <ListUsers v-if="!show_csv_import" />
    </GenericCard>
    <NewStudentModal v-if="modalStudent" />
  </v-container>
</template>

<script>
import ListUsers from "./ListUsers";
import NewStudentModal from "@/components/NewStudentModal";
import GenericCard from "@/components/GenericCard";
import BtnImportCsv from "@/components/BtnImportCsv";
import { mapActions, mapState, mapMutations } from "vuex";
import { showSuccess, showError } from "@/global";

export default {
  data: () => ({
    klass: {},
    show_csv_import: false,
    loading: false,
  }),
  components: { ListUsers, GenericCard, NewStudentModal, BtnImportCsv },
  computed: {
    ...mapState("classes", ["NewClassResponseData", "modalStudent", "members"]),
    getColor() {
      switch (this.klass.visibility) {
        case "public":
          return "#FF9800";
        case "private":
          return "#c15700";
        default:
          return "dark";
      }
    },
    isValid() {
      return this.klass.name && this.klass.description && this.klass.visibility
        ? true
        : false;
    },
  },
  methods: {
    ...mapActions("classes", ["createClass"]),
    ...mapMutations("classes", ["setModalStudent", "setMembers"]),
    _createClass() {
      this.loading = true;
      this.createClass({
        ...this.klass,
        background_color: this.klass.background_color.hex,
      })
        .then((resp) => {
          this.$router.push("/");
          showSuccess(resp);
        })
        .catch((error) => showError(error))
        .finally(() => (this.loading = false));
    },
    _openModal() {
      this.setModalStudent();
    },
    _cancelImport() {
      this.show_csv_import = !this.show_csv_import;
      this.setMembers([]);
    },
  },
  created() {
    this.setMembers([]);
  },
};
</script>

<style scoped>
.text-center {
  margin: 0 auto;
}
</style>
