<template>
  <v-container>
    <GenericCard
      :ready="ready"
      color="orange darken-3"
      icon="fas fa-book-open"
      :title="oneClass.name"
      :subtitle="`#${oneClass.external_id}`"
      :background="{ background: oneClass.background_color }"
    >
      <!-- buttons -->
      <template v-slot:header v-if="user.type === 'TEACHER'">
        <div class="header mt-3">
          <v-btn
            small
            @click="_openModal"
            color="orange darken-3"
            class="mr-2 white--text"
            >Adicionar alunos</v-btn
          >
          <v-btn
            small
            @click.stop="setAlert(true)"
            color="red"
            class="white--text mr-2"
            >&times; Remover</v-btn
          >
        </div>
      </template>
      <!-- extra field  -->
      <template v-slot:extra-field>
        <div class="extra-feild-status">
          <v-icon color="orange" class="mr-2">{{ getIconStatus }}</v-icon>
          <strong>{{ getTextStatus }}</strong>
        </div>
      </template>

      <v-row class="header">
        <v-col sm="12" class="description">
          <h2 class="text--bold">Descrição</h2>
          <p>{{ oneClass.description }}</p>
        </v-col>
      </v-row>

      <v-row class="body">
        <v-col sm="7">
          <h2>
            <v-icon color="green" class="mr-3">fas fa-check</v-icon>Tarefas em
            Aberto
          </h2>
          <card-tasks />
        </v-col>
        <v-col sm="5">
          <v-row>
            <v-col>
              <h2>
                <v-icon color="orange" class="mr-3">fas fa-user</v-icon>Membros
                da turma
              </h2>
              <list-members :class_id="oneClass.external_id" />
            </v-col>
          </v-row>
          <v-divider />
          <v-row>
            <v-col>
              <h2>
                <v-icon color="red" class="mr-3">fas fa-times</v-icon>Tarefas já
                Finalizadas
              </h2>
              <list-tasks-closed />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </GenericCard>
    <danger-alert :onDelete="_onDelete" title="Turma" gender="a" />
    <NewStudentModal
      v-if="modalStudent"
      :created="true"
      :class-id="oneClass.external_id"
    />
  </v-container>
</template>

<script>
import ClassService from "@/services/ClassService";
import NewStudentModal from "@/components/NewStudentModal";
import ListMembers from "@/components/ListMembers";
import GenericCard from "@/components/GenericCard";
import ListTasksClosed from "@/components/ListTasksClosed";
import CardTasks from "@/components/CardTasks";

import { showError, showSuccess } from "@/global";
import { mapActions, mapMutations, mapState } from "vuex";
import DangerAlert from "@/components/DangerAlert.vue";

export default {
  data: () => ({
    ready: false,
    search: "",
  }),
  components: {
    GenericCard,
    CardTasks,
    ListTasksClosed,
    NewStudentModal,
    ListMembers,
    DangerAlert,
  },
  computed: {
    ...mapState("classes", ["oneClass"]),
    ...mapState("user", ["user"]),
    getTextStatus() {
      return this.oneClass.visibility === "private"
        ? "Turma Fechada"
        : "Turma Aberta";
    },
    getIconStatus() {
      return this.oneClass.visibility === "private"
        ? "fas fa-lock"
        : "fas fa-lock-open";
    },
  },
  methods: {
    ...mapMutations("classes", ["setModalStudent", "setAlert"]),
    ...mapState("classes", ["modalStudent"]),
    ...mapActions("classes", ["getClass", "setAssignments"]),
    _onLocation(path) {
      this.$router.push({
        name: path,
        query: { class_id: this.oneClass.external_id },
      });
    },
    _onDelete() {
      ClassService.delete(this.oneClass.external_id)
        .then(() => {
          showSuccess("você apagou a turma");
          setTimeout(() => {
            window.location.href = "http://localhost:8080/";
          }, 300);
        })
        .catch((error) => showError(error));
    },
    _openModal() {
      this.setModalStudent();
    },
  },
  created() {
    const { id } = this.$route.params;
    ClassService.get(id)
      .then((resp) => {
        const { data, response_status } = resp.data;
        if (response_status === "success") {
          this.getClass(data);
        } else {
          showError("não foi possível carregar");
          this.$router.go(-1);
        }
      })
      .catch((error) => showError(error))
      .finally(() => (this.ready = true));
  },
};
</script>

<style scoped>
.header {
  display: flex;
  justify-content: flex-end;
}
.row-end {
  display: flex;
  justify-content: flex-end;
}

.description h2 {
  text-align: start;
  margin-left: 30px;
}

.description p {
  margin-top: 5px;
  margin-left: 30px;
}

.text--bold {
  font-weight: bold;
}

.extra-feild-status {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
</style>
