<template>
  <v-container class="task-new">
    <GenericCard
      :ready="ready"
      icon="fas fa-pencil-alt"
      :color="getColor"
      title="Nova Tarefa"
      subtitle="Insira abaixo os dados da nova tarefa"
    >
      <v-row>
        <v-col md="12" sm="12">
          <v-text-field
            label="Link de importação"
            placeholder="https://gitlab.com/padovag/laboratorio.git"
            hint="A URL acima será utilizada como repositório base para esta tarefa"
            persistent-hint
            :color="getColor"
            type="text"
            @input="updateImport"
            v-model="task.import_from"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col md="6">
          <v-text-field
            :color="getColor"
            hint="Campo obrigatório(*)"
            persistent-hint
            label="Título da tarefa"
            type="text"
            v-model="task.name"
          />
        </v-col>

        <v-col cols="6">
          <v-select
            v-model="classSelect"
            :color="getColor"
            hint="Campo obrigatório(*)"
            :items="classes"
            item-text="state"
            item-value="abbr"
            label="Selecione uma turma"
            persistent-hint
            return-object
            single-line
          ></v-select>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-textarea
            label="Descrição da tarefa"
            color="orange"
            rows="5"
            :value="textArea"
            @input="update"
          ></v-textarea>
        </v-col>
        <v-col>
          <div v-html="compiledMarkdown" class="markdownHtml"></div>
        </v-col>
      </v-row>
      <v-row>
        <v-col md="6" sm="12">
          <v-radio-group
            v-model="task.visibility"
            row
            :disabled="visibilityParams"
            persistent-hint
            :hint="visibilityText"
          >
            <span class="mr-2">Privacidade:</span>
            <v-radio color="orange" label="Publico" value="public" />
            <v-radio color="orange darken-4" label="Privado" value="private" />
          </v-radio-group>
        </v-col>
        <v-col md="6" sm="12">
          <v-text-field
            :color="getColor"
            label="Data Limite"
            persistent-hint
            hint="Campo obrigatório(*)"
            type="date"
            v-model="task.due_date"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn
            :disabled="!isValid"
            :color="getColor"
            class="ml-3 white--text"
            @click="submit"
            >Finalizar</v-btn
          >
        </v-col>
      </v-row>
    </GenericCard>
  </v-container>
</template>

<script>
import moment from "moment";
import marked from "marked";
import _ from "lodash";
import GenericCard from "@/components/GenericCard";
import ClassService from "@/services/ClassService";
import TaskService from "@/services/TaskService";
import { showSuccess, showError } from "@/global";

export default {
  components: { GenericCard },
  computed: {
    getColor() {
      switch (this.task.visibility || this.$route.query.visibility) {
        case "public":
          return "#FF9800";
        case "private":
          return "#c15700";
        default:
          return "dark";
      }
    },
    isValid() {
      return this.task.name &&
        this.task.visibility &&
        this.task.due_date &&
        this.classSelect.abbr
        ? true
        : false;
    },
    visibilityParams() {
      return !!this.$route.query.visibility;
    },
    visibilityText() {
      return this.visibilityParams
        ? "Foi desabilidado por conta da turma ser privada"
        : "Defina se o repositório será visível ou não";
    },
    compiledMarkdown: function () {
      return marked(this.textArea, { sanitize: true });
    },
  },
  data: () => ({
    task: {},
    ready: false,
    classSelect: { state: "", abbr: "" },
    classes: [],
    textArea: "# README.md \n aceita markdown :)",
  }),
  methods: {
    submit() {
      TaskService.create({
        ...this.task,
        description: this.textArea.substring(0, 100),
        classroom_external_id: this.classSelect.abbr,
      })
        .then((resp) => {
          showSuccess();
          this.$router.push({
            name: "ShowClass",
            params: { id: resp.data.data.parent_id },
          });
        })
        .catch((error) => showError(error));
    },
    update: _.debounce(function (text) {
      this.textArea = text;
    }, 300),
    updateImport: _.debounce(function (url) {
      var valid = /^(ftp|http|https):\/\/[^ "]+$/.test(url);
      if (valid) {
        url = url.replace(".git", "");
        TaskService.getREADME(url).then((resp) => {
          this.textArea = resp.data.data[0];
        });
      } else console.log("osadasjkdhakjs");
    }, 400),
  },
  created() {
    this.task.data = moment().format("YYYY-MM-DD");

    ClassService.all()
      .then((resp) => {
        this.ready = true;
        const { data, response_status } = resp.data;

        if (response_status === "success" && data) {
          const { class_id, visibility } = this.$route.query;

          // verificar no select as classes
          let array = [];
          data.forEach((element) => {
            if (class_id)
              if (element.external_id === class_id)
                this.classSelect = {
                  state: element.name,
                  abbr: element.external_id,
                };
            array.push({ state: element.name, abbr: element.external_id });
          });
          this.classes = array;
          // verificar a visibility
          this.task.visibility = visibility;
        } else {
          showError("aconteceu um falha no servidor");
        }
      })
      .catch((er) => showError(er));
  },
};
</script>

<style scoped>
.markdownHtml {
  max-height: 150px;
  overflow-y: scroll;
}
</style>
