<template>
  <v-container class="task-show">
    <GenericCard
      :ready="ready"
      icon="fas fa-book"
      color="orange darken-3"
      :subtitle="`Data final: ${getDate}`"
      :title="task.name"
      :background="{ background: oneClass.background_color }"
    >
      <!-- header -->
      <template v-slot:header>
        <div class="header mt-3">
          <v-btn
            small
            v-if="!lock"
            @click="_onClick"
            color="green"
            class="white--text mr-2"
            >{{
              user.type === "TEACHER" ? "Finalizar Tarefa" : "Aceitar tarefa"
            }}</v-btn
          >
          <v-btn
            v-if="lock && user.type === 'STUDENT'"
            small
            @click="_OpenTips"
            color="green darken-3"
            class="white--text mr-2"
          >
            Rever instruções
          </v-btn>
          <v-btn
            small
            @click="_viewRepo"
            color="orange"
            class="white--text mr-2"
            >Visualizar Repositório</v-btn
          >
          <v-btn
            small
            v-if="user.type === 'TEACHER'"
            @click.stop="setAlert(true)"
            color="red"
            class="white--text"
            >&times; Excluir</v-btn
          >
        </div>
      </template>

      <!-- extra field  -->
      <template v-slot:extra-field>
        <div class="extra-feild-status text-center mt-3">
          <v-icon size="15" color="orange" class="mr-2">{{
            getIconStatus
          }}</v-icon>
          <strong>{{ getTextStatus }}</strong>
        </div>
      </template>
      <v-row class="body">
        <v-col md="6">
          <v-row>
            <v-col md="12">
              <div class="extra-feild-status text-center mt-3">
                <v-icon size="15" color="orange" class="mr-2">{{
                  getIconPrivate
                }}</v-icon>
                <strong>{{ getTextPrivate }}</strong>
              </div>
              <h3>Descrição</h3>
              <markdown-it-vue-light
                class="md-body"
                :style="getColor"
                :content="textArea || task.description"
              />
            </v-col>
          </v-row>
        </v-col>
        <!-- gráfico de aluno -->
        <v-col md="6">
          <graph-students :task_id="task.assignment_external_id" />
        </v-col>
      </v-row>

      <v-row v-if="user.type === 'TEACHER'">
        <v-col md="12">
          <table-students
            :status="task.status"
            :task_id="task.assignment_external_id"
          />
        </v-col>
      </v-row>
    </GenericCard>
    <show-grade
      v-if="
        task.status == 'CLOSED' &&
        user.type === 'STUDENT' &&
        task.assignment_external_id
      "
      :name="user.name"
      :task_id="task.assignment_external_id"
    />
    <danger-alert :onDelete="_deleteTask" title="Tarefa" gender="da" />
    <Tips v-if="openTips" :id="task.assignment_external_id" :name="user.name" />
  </v-container>
</template>

<script>
import moment from "moment";
import MarkdownItVueLight from "markdown-it-vue/dist/markdown-it-vue-light.umd.min.js";
import "markdown-it-vue/dist/markdown-it-vue-light.css";
import GenericCard from "@/components/GenericCard";
import Tips from "@/components/Tips";
import GraphStudents from "@/components/GraphStudents";
import TaskService from "@/services/TaskService";
import ClassService from "@/services/ClassService";
import { showError, showSuccess } from "@/global";

import TableStudents from "@/components/TableStudents";
import { mapActions, mapMutations, mapState } from "vuex";
import ShowGrade from "@/components/ShowGrade.vue";
import DangerAlert from "@/components/DangerAlert.vue";

export default {
  name: "TaskShow",
  components: {
    GenericCard,
    TableStudents,
    MarkdownItVueLight,
    GraphStudents,
    Tips,
    ShowGrade,
    DangerAlert,
  },
  computed: {
    ...mapState("task", ["task", "openTips"]),
    ...mapState("user", ["user"]),
    ...mapState("classes", ["oneClass"]),
    getTextStatus() {
      return this.task.status === "CLOSED" ? "Tarefa Fechada" : "Tarefa Aberta";
    },
    getIconStatus() {
      return this.task.status === "CLOSED" ? "fas fa-lock" : "fas fa-lock-open";
    },
    getTextPrivate() {
      return this.task.visibility === "private"
        ? "Visibilidade: Restrita"
        : "Visibilidade: Publica";
    },
    getIconPrivate() {
      return this.taskvisibility === "private"
        ? "fas fa-lock"
        : "fas fa-lock-open";
    },
    getDate() {
      return moment(this.task.due_date).locale("pt-BR").format("L");
    },
    getColor() {
      return this.$store.state.darkMode
        ? { color: "white" }
        : { color: "black" };
    },
  },
  methods: {
    ...mapActions("task", ["getTask"]),
    ...mapMutations("task", ["setTips"]),
    ...mapMutations("classes", ["setAlert"]),
    ...mapActions("classes", ["getClass"]),
    closeAssingment() {
      TaskService.close(this.task.assignment_external_id)
        .then(() => {
          showSuccess("a turma foi finalizada");
          setTimeout(() => {
            this.$router.go();
          }, 300);
        })
        .catch((error) => {
          showError(error);
        });
    },
    _OpenTips() {
      this.setTips(true);
    },
    _onClick() {
      if (this.user.type === "TEACHER") {
        if (this.task.status === "CLOSED") return (this.lock = true);
        else this.closeAssingment();
      } else {
        TaskService.isAlreadyAccept(this.task.assignment_external_id)
          .then((resp) => {
            if (resp.data.data["is_accepted_by_user?"]) {
              this.lock = true;
              showError("você já aceitou a tarefa");
            } else {
              this.lock = true;
              this.setTips(true);
              this.accept();
            }
          })
          .catch((error) => {
            showError(error);
          });
      }
    },
    _viewRepo() {
      window.location.href = this.task.remote_url;
    },
    accept() {
      TaskService.accept(this.task.assignment_external_id)
        .then(() => {
          showSuccess("você aceitou a tarefa");
        })
        .catch((error) => showError(error));
    },
    _deleteTask() {
      this.setAlert(false);
      TaskService.delete(this.task.assignment_external_id)
        .then(() => {
          showSuccess("você eliminou a tarefa");
          this.$router.push({
            name: "ShowClass",
            params: { id: this.task.parent_id },
          });
        })
        .catch((error) => showError(error));
    },
  },
  created() {
    const { id, class_id } = this.$route.params;
    if (typeof this.oneClass.background_color === "undefined") {
      ClassService.get(class_id)
        .then((resp) => {
          const { data, response_status } = resp.data;
          if (response_status === "success") {
            this.getClass(data);
          } else {
            showError("não foi possível carregar");
            this.$router.go(-1);
          }
        })
        .catch((error) => showError(error));
    }

    TaskService.get(id)
      .then((resp) => {
        if (resp.data.response_status === "success") {
          this.getTask(resp.data.data);
          if (this.task.import_from)
            TaskService.getREADME(
              this.task.import_from.replace(".git", "")
            ).then((resp) => {
              this.textArea = resp.data.data[0];
            });

          if (this.user.type === "STUDENT")
            TaskService.isAlreadyAccept(this.task.assignment_external_id).then(
              (resp) => {
                if (resp.data.data["is_accepted_by_user?"]) this.lock = true;
              }
            );
          else if (this.task.status === "CLOSED") return (this.lock = true);
        } else {
          showError("não foi possivel carregar os dados");
          // this.$router.go(-1);
        }
      })
      .catch((error) => {
        showError(error);
        // this.$router.go(-1);
      })
      .finally(() => (this.ready = true));
  },
  data: () => ({
    ready: false,
    textArea: null,
    lock: false,
  }),
};
</script>

<style scoped>
.header {
  display: flex;
  justify-content: flex-end;
}
.md-body {
  height: 500px !important;
  overflow-y: scroll;
}

.task-show .text-bold {
  background: #ffffff;
  color: black;
  /* line-height: 23px; */
  padding: 2px 8px;
  box-shadow: 1px 1px 3px #ababab;
}

.task-show .text-description {
  background: black;
  color: white;
  padding: 4px 10px;
}

.task-show .list-content {
  margin: 10px;
  background: #fafafa;
  box-shadow: 0px 1px 4px 0px #8e8e8e;
}

.task-show .list-item {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 599px) {
  .task-show .list-content {
    margin: 0;
  }
}
</style>