<template>
  <div class="loading">
    <img src="/src/assets/logo.png" alt="Loading" >
  </div>
</template>

<script>
export default {

}
</script>

<style>
.loading{
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>