<template>
  <div>
    <v-app-bar :color="darkMode ? 'black' : 'white'">
      <v-toolbar-title @click="_onLocation('admin')">
        <v-img :src="logo" class="logo" width="50" alt="Logo" />
      </v-toolbar-title>
      <v-toolbar-title :class="darkMode ? 'white--text' : 'black--text'"
        >gitlab classroom</v-toolbar-title
      >

      <v-spacer></v-spacer>
      <v-btn icon @click="_onLocation('User')" v-if="user.type === 'TEACHER'">
        <v-icon :color="darkMode ? 'white' : 'black'">fas fa-user</v-icon>
      </v-btn>
      <v-btn
        icon
        @click="_onLocation('NewClass')"
        v-if="user.type === 'TEACHER'"
      >
        <v-icon :color="darkMode ? 'white' : 'black'">fas fa-book-open</v-icon>
      </v-btn>
      <v-btn
        icon
        @click="_onLocation('NewTask')"
        v-if="user.type === 'TEACHER'"
      >
        <v-icon :color="darkMode ? 'white' : 'black'">fas fa-pencil-alt</v-icon>
      </v-btn>

      <v-menu right bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon :color="darkMode ? 'white' : 'black'"
              >mdi-dots-vertical</v-icon
            >
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-title @click="_onChangeTheme"
              >Dark Mode</v-list-item-title
            >
          </v-list-item>
          <v-list-item>
            <v-list-item-title @click="_onLogout">Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
  </div>
</template>

<script>
import logo from "../../assets/logo.png";
import { mapMutations, mapState } from "vuex";
import { userKey, themeUser } from "@/global";

export default {
  name: "MainResponsive",
  computed: {
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
    ...mapState("user", ["user"]),
  },
  data: () => ({
    logo,
  }),
  methods: {
    ...mapMutations("user", ["toggleModal", "setUser"]),
    _onChangeTheme() {
      this.$store.commit("toggleTheme");
      localStorage.setItem(themeUser, this.$store.state.darkMode);
    },
    _onLocation(path) {
      if (path === "User") return this.toggleModal();
      this.$router.push({ name: path });
    },
    _onLogout() {
      localStorage.removeItem(userKey);
      this.setUser(null);
    },
  },
};
</script>

<style>
</style>
