<template>
  <div class="main">
    <MenuResponsive v-if="this.$mq === 'sm' || this.$mq === 'xs'" />
    <Menu v-else />

    <div id="content" :style="getThemeBackground">
      <UserMenu v-if="viewModal" />
      <router-view />
    </div>
  </div>
</template>

<script>
import Menu from "./Menu";
import MenuResponsive from "./MainResponsive";
import UserMenu from "@/components/UserMenu";
import { mapState } from "vuex";

export default {
  name: "Main",
  components: { UserMenu, Menu, MenuResponsive },
  computed: {
    ...mapState("user", ["viewModal"]),
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
    getThemeBackground() {
      return this.darkMode ? { background: "#191919" } : {};
    },
  },
};
</script>

<style>
@media only screen and (min-width: 768px) {
  .main {
    display: grid;
    height: 100vh;

    grid-template-columns: 100px 1fr;
    grid-template-areas: "menu content";
  }

  #content {
    grid-area: content;
    overflow-x: hidden;
  }
}
</style>
