<template>
  <div class="page-title">
    <div class="page-title-h1">
      <h1>
        <v-icon v-if="icon" :color="iconColor" class="mr-3">{{icon}}</v-icon>
        {{title}}
      </h1>
    </div>
    <h2 v-html="subtitle" v-if="subtitle" />
  </div>
</template>

<script>
export default {
  name: "PageTitle",
  props: {
    title: String,
    subtitle: String,
    icon: String,
    iconColor: String,
  },
};
</script>

<style scoped>
h1 {
  font-size: 1.5rem;
}
</style>
