<template>
  <div class="page-title">
    <h1 v-html="title" v-if="title" />
    <h2 v-html="subtitle" v-if="subtitle" />
  </div>
</template>

<script>
export default {
  name: "PageTitle",
  props: {
    title: String,
    subtitle: String,
  },
};
</script>

<style scoped>
</style>
