<template>
  <v-card
    :dark="darkMode"
    :height="height"
    :max-width="width"
    class="add-class"
    @click="_onAddClass"
  >
    <v-btn text>+</v-btn>
    <span>{{ text }}</span>
  </v-card>
</template>

<script>
export default {
  name: "BtnAddKlass",
  props: {
    height: {
      type: String,
      default: "137",
    },
    localtion: {
      type: String,
      default: "NewClass",
    },
    width: {
      type: String,
      default: "100%",
    },
    params: {
      type: Object,
    },
    text: String,
  },
  computed: {
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
  },
  methods: {
    _onAddClass() {
      if (this.params) {
        this.$router.push({ name: this.localtion, query: this.params });
      } else this.$router.push({ name: this.localtion });
    },
  },
};
</script>

<style scoped>
.add-class {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
}
</style>