<template>
  <v-card>
    <v-card-title> Importação por CSV: </v-card-title>
    <v-row>
      <v-col md="12">
        <v-file-input
          label="Os únicos arquivos que são aceitos são do formato .csv"
          truncate-length="15"
          accept=".csv"
          placeholder="Escolha um arquivo"
          @change="loadCSV"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-data-table
        v-if="data.length > 0"
        :headers="headers"
        :items="data"
        :items-per-page="5"
        class="elevation-1"
      >
      </v-data-table>
    </v-row>
  </v-card>
</template>

<script>
import { showError } from "@/global";
import { mapMutations } from "vuex";

export default {
  name: "BtnImportCsv",
  data: () => ({
    headers: [
      { text: "Name", value: "name" },
      { text: "E-mail", value: "e-mail" },
      { text: "Username", value: "username" },
    ],
    data: [],
  }),
  methods: {
    ...mapMutations("classes", ["pushUserToClass", "setMembers"]),
    csvJSON(csv) {
      var lines = csv.split("\n");
      var headers = lines[0].split(",");
      var result = [];
      var vm = this;

      vm.setMembers([]);
      lines.map(function (line, indexLine) {
        if (indexLine < 1) return; // Jump header line

        var obj = {};
        var currentline = line.split(",");

        headers.map(function (header, indexHeader) {
          obj[header] = currentline[indexHeader];
        });
        if (obj.username) vm.pushUserToClass(obj);
        result.push(obj);
      });
      result.pop(); // remove the last item because undefined values
      return result;
    },
    loadCSV(file) {
      const vm = this;
      if (window.FileReader && file !== undefined) {
        var reader = new FileReader();
        reader.readAsText(file);
        // Handle errors load
        reader.onload = function (event) {
          var csv = event.target.result;
          vm.data = vm.csvJSON(csv);
        };
        reader.onerror = function (evt) {
          if (evt.target.error.name == "NotReadableError") {
            showError("não foi possivel ler o arquivo");
          }
        };
      } else {
        this.data = [];
        showError("Não foi possível ler o arquivo");
      }
    },
  },
};
</script>

<style scoped>
</style>