<template>
  <v-container>
    <div v-if="ready">
      <v-row>
        <v-col md="12">
          <v-text-field
            type="text"
            color="orange darken-3"
            label="Procure uma Tarefa"
            hint="pesquise pelo nome"
            persistent-hint
            prepend-icon="fas fa-search"
            v-model="search"
          />
        </v-col>
      </v-row>
      <v-row v-if="open_assignments.length > 0">
        <v-col md="6" v-for="task in filteredList" :key="task.id">
          <CardTask :task="task" />
        </v-col>
        <v-col v-if="user && user.type === 'TEACHER'">
          <btn-add-klass
            text="Adicionar Tarefa"
            localtion="NewTask"
            :params="{
              class_id: this.oneClass.external_id,
              visibility: this.oneClass.visibility,
            }"
          />
        </v-col>
      </v-row>
      <v-row v-else class="empty text-center">
        <v-col>Não existem tarefas para esta turma no momento</v-col>
        <v-col md="12" xs="12" sm="12" v-if="user && user.type === 'TEACHER'">
          <btn-add-klass
            text="Adicionar Tarefa"
            localtion="NewTask"
            :params="{
              class_id: this.oneClass.external_id,
              visibility: this.oneClass.visibility,
            }"
          />
        </v-col>
      </v-row>
    </div>
    <v-progress-circular
      v-else
      class="spinner"
      size="80"
      indeterminate
      color="orange"
    ></v-progress-circular>
  </v-container>
</template>

<script>
import CardTask from "@/components/CardTask";
import BtnAddKlass from "@/components/BtnAddKlass";
import ClassService from "@/services/ClassService";
import { mapState } from "vuex";
import { showError } from "@/global";

export default {
  name: "CardTasks",
  components: { CardTask, BtnAddKlass },
  computed: {
    ...mapState("classes", ["oneClass"]),
    ...mapState("user", ["user"]),
    filteredList() {
      return this.open_assignments.filter((e) =>
        e.name.toLowerCase().includes(this.search.toLowerCase())
      );
    },
  },
  data: () => ({
    open_assignments: [],
    ready: false,
    search: "",
  }),
  created() {
    ClassService.assignments(this.oneClass.external_id)
      .then((resp) => {
        if (typeof resp.data.data === "object") {
          Object.keys(resp.data.data).map((e) => {
            this.open_assignments.push(resp.data.data[e]);
          });
        } else this.open_assignments = resp.data.data;
      })
      .catch((error) => showError(error))
      .finally(() => (this.ready = true));
  },
};
</script>

<style scoped>
</style>