<template>
  <v-card class="card-participants">
    <v-card-text>
      <v-row>
        <v-col md="12">
          <line-chart legend="bottom" xtitle="Data" ytitle="Commits" :data="data" />
        </v-col>
      </v-row>
    </v-card-text>
    <v-list subheader>
      <v-subheader>Participantes desta turma</v-subheader>
      <v-list-item v-for="_ in 5" :key="_">
        <v-list-item-avatar>
          <v-gravatar :email="`${_}@gmail.com`" />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>#{{ _ }} - name</v-list-item-title>
        </v-list-item-content>
        <v-list-item-action @click="_onClickUser(_)">
          <v-icon>fas fa-sign-in-alt</v-icon>
        </v-list-item-action>
      </v-list-item>
      <v-pagination
        :length="2"
        color="orange"
        :total-visible="3"
        :page="1"
        next-icon="mdi-menu-right"
        prev-icon="mdi-menu-left"
      ></v-pagination>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: "CardParticipants",
  data: () => ({
    data: [
      {
        name: "Workout",
        color: "orange",
        data: {
          "2017-01-01 00:00:00 -0800": 3,
          "2017-01-02 00:00:00 -0800": 4,
          "2017-01-04 00:00:00 -0800": 3
        }
      },
      {
        name: "Call parents",
        color: "blue",
        data: { "2017-01-01 00:00:00 -0800": 5, "2017-01-02 00:00:00 -0800": 3 }
      },
      {
        name: "Outros",
        color: "red",
        data: { "2017-01-01 00:00:00 -0800": 5, "2017-01-02 00:00:00 -0800": 7 }
      }
    ]
  }),
  methods: {
    _onClickUser(id) {
      this.$router.push(`user/${id}`);
    }
  }
};
</script>

<style scoped>
.card-participants {
  height: calc(100% - 100px);
}
</style>