<template>
  <v-card max-width="500" class="width-max">
    <v-card-title class="card-title">
      <span>
        <v-icon color="orange">fas fa-pencil-alt</v-icon>
        {{ task.name }}
      </span>
    </v-card-title>
    <v-card-subtitle>Prazo Final: {{ task.due_date }}</v-card-subtitle>
    <v-card-actions>
      <v-btn
        small
        color="orange darken-3"
        class="white--text button-action-view"
        v-if="!task.closed"
        @click="_onClick"
        >Ver mais</v-btn
      >

      <v-spacer></v-spacer>

      <v-btn icon @click="show = !show">
        <v-icon>{{ show ? "mdi-chevron-up" : "mdi-chevron-down" }}</v-icon>
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-card-text>Outras informações</v-card-text>
        <v-card-text v-if="user.type === 'TEACHER' && task.students"
          >Quantidade de repositórios: {{ task.students.length }}</v-card-text
        >
        <v-card-text>Link: {{ task.remote_url }}</v-card-text>
        <v-card-text v-if="task.import_from"
          >Link de importação: {{ task.import_from }}</v-card-text
        >
        <v-card-text>Código: {{ task.assignment_external_id }}</v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn
            small
            @click="deleteTask"
            color="red"
            class="white--text width-max"
            v-if="user.type === 'TEACHER'"
            >excluir</v-btn
          >
        </v-card-actions>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script>
import TaskService from "@/services/TaskService";
import { showError, showSuccess } from "@/global";
import { mapState } from "vuex";

export default {
  name: "CardTask",
  computed: {
    ...mapState("user", ["user"]),
  },
  props: {
    task: Object,
  },
  data: () => ({
    show: false,
  }),
  methods: {
    _onClick() {
      if (!this.task.closed) {
        const { classroom_external_id, assignment_external_id } = this.task;

        return this.$router.push(
          `${classroom_external_id}/task/${assignment_external_id}`
        );
      }
    },
    deleteTask() {
      TaskService.delete(this.task.assignment_external_id)
        .then(() => {
          showSuccess("você eliminou a tarefa");
          setTimeout(() => {
            this.$router.go(0);
          }, 300);
        })
        .catch((error) => showError(error));
    },
  },
  created() {},
};
</script>

<style scoped>
.width-max {
  width: 100%;
}

.button-action-view {
  width: 80%;
}
</style>