<template>
  <v-card max-width="500" :dark="darkMode" @click="_onViewTask">
    <v-img
      class="card-item-title"
      height="140px"
      :style="{ backgroundColor: item.background_color }"
    >
      <h2 :style="{ color: getTextColor }">{{ item.name }}</h2>
      <h3 :style="{ color: getTextColor }">{{ item.description }}</h3>
    </v-img>
    <v-progress-circular
      v-if="!ready"
      class="spinner"
      size="50"
      indeterminate
      color="orange"
    ></v-progress-circular>
    <div v-else-if="item.assignments && item.assignments.length > 0">
      <v-card-title>Ultimas Tarefas</v-card-title>
      <v-card-text class="text--white">
        <div
          class="card-item"
          v-for="task in item.assignments"
          :key="task.name"
        >
          <v-icon small>fa fa-bookmark</v-icon>
          <span class="ml-2">{{ task.name }}</span>
        </div>
      </v-card-text>
    </div>
    <div v-else>
      <v-card-title>Ultimas Tarefas</v-card-title>
      <v-card-text class="text--white"> Não há tarefas abertas </v-card-text>
    </div>
  </v-card>
</template>

<script>
import ClassService from "@/services/ClassService";
import Color from "@/services/Color";
import { showError } from "@/global";

export default {
  name: "CardClasses",
  data: () => ({
    ready: false,
  }),
  props: {
    item: Object,
  },
  computed: {
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
    getTextColor() {
      return Color.lightOrDark(this.item.background_color);
    },
  },
  methods: {
    _onViewTask() {
      this.$router.push({
        name: "ShowClass",
        params: { id: this.$props.item.external_id },
      });
    },
  },
  created() {
    ClassService.assignments(this.item.external_id)
      .then((resp) => {
        const { data } = resp.data;
        this.item.assignments = [];
        if (typeof data === "object") {
          Object.keys(data).map((e, index) => {
            if (index < 4) this.item.assignments.push(data[e]);
          });
        } else {
          for (let index = 0; index < 4; index++)
            this.item.assignments.push(data[index]);
        }
        this.ready = true;
      })
      .catch((error) => showError(error));
  },
};
</script>

<style>
.card-item-title {
  display: flex;

  text-align: center;
  align-items: flex-end;
}

.card-item-title h2 {
  font-size: 32px;
  color: white;
}

.card-item-title h3 {
  color: #dadada;
  font-size: 13px;
}
</style>
