<template>
  <v-dialog v-model="modal" persistent max-width="90%">
    <v-card>
      <v-img class="modal-title" height="100px" :src="oneClass.image_url">
        <h2>{{ oneClass.title }}</h2>
        <h3>{{ oneClass.gitlab_url }}</h3>
        <div class="close-tag" @click="_onCloseModal">&times;</div>
      </v-img>
      <v-card-text>
        <v-row>
          <v-col md="7">
            <CardTasks />
          </v-col>
          <v-col md="5">
            <CardParticipants />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations, mapState } from "vuex";
import CardTasks from "@/components/CardTasks";
import CardParticipants from "@/components/CardParticipants";

export default {
  name: "ClassModal",
  components: { CardParticipants, CardTasks },
  computed: mapState("classes", ["classroom", "oneClass", "modal"]),
  methods: {
    ...mapMutations("classes", ["setModal"]),
    _onCloseModal() {
      this.setModal(false);
    },
  },
};
</script>

<style>
.modal-title {
  position: relative;
  display: flex;
}

.modal-title h2,
h3 {
  display: flex;
  justify-content: center;
}

.modal-title h2 {
  color: white;
  font-size: 2.2rem;
  padding-top: 10px;
}

.modal-title h3 {
  background-color: black;
  color: #dadada;
  width: 50%;
  font-size: 1rem;
  margin: 0 auto;
  border-radius: 4px;
}

.modal-title .close-tag {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;

  color: white;
  font-size: 2rem;
}

@media only screen and (max-width: 599px) {
  .modal-title h3 {
    width: 85%;
  }
}
</style>