<template>
  <v-dialog v-model="alert" max-width="300" :dark="darkMode">
    <v-card>
      <v-card-title>Excluir {{ title }}</v-card-title>
      <v-card-text>{{ getText }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn small class="white--text" color="green" @click="setAlert(false)"
          >Cancelar</v-btn
        >
        <v-btn small class="white--text" color="red darken-1" @click="onDelete"
          >Remover {{ title }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations, mapState } from "vuex";
export default {
  name: "DangerAlert",
  props: {
    title: String,
    gender: String,
    onDelete: {
      type: Function,
      required: true,
    },
  },
  computed: {
    ...mapState("classes", ["alert"]),
    getText() {
      return `A ação abaixo implicará na exclusão ${
        this.gender
      } ${this.title.toLowerCase()}, você tem certeza que deseja continuar?`;
    },
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
  },
  methods: {
    ...mapMutations("classes", ["setAlert"]),
  },
};
</script>

<style>
</style>