<template>
  <div class="generic-container">
    <v-card
      v-if="ready"
      class="generic-card"
      :dark="darkMode"
      :style="getBoxShadow"
    >
      <!-- header -->
      <v-card-title :style="getBackground">
        <!-- se conter background -->
        <v-img
          height="100px"
          :style="background"
          v-if="background"
          class="header-img"
        >
          <span class="title" :style="getTheme">
            <v-icon :color="color ? color : ''" class="mr-2">{{ icon }}</v-icon>
            <span :style="{ color: getColorText }">{{ title }}</span>
          </span>
          <span
            @click="_onHandle"
            :style="{ color: 'white' }"
            class="close-tag close-tag-black"
            >&times;</span
          >
          <p class="subtitle">{{ subtitle }}</p>
          <slot :style="getTheme" class="mt-3" name="header"></slot>
        </v-img>

        <!-- se não tiver background -->
        <div v-else>
          <div>
            <v-icon :color="color ? color : ''">{{ icon }}</v-icon>
            <span :style="getTheme" class="ml-2">{{ title }}</span>
            <span @click="_onHandle" class="close-tag">&times;</span>
          </div>
        </div>
      </v-card-title>
      <v-card-subtitle :style="getBackground">
        <slot name="extra-field" :style="getTheme"></slot>
      </v-card-subtitle>
      <v-card-subtitle
        v-if="!background"
        class="remove-padding"
        :style="getBackground"
      >
        <v-row>
          <v-col md="6">{{ subtitle }}</v-col>
          <v-col md="6">
            <slot :style="getTheme" name="header"></slot>
          </v-col>
        </v-row>
      </v-card-subtitle>

      <!-- description -->

      <!-- body card -->
      <v-card-text>
        <slot></slot>
      </v-card-text>
    </v-card>
    <v-progress-circular
      v-else
      class="spinner"
      size="80"
      indeterminate
      color="orange"
    ></v-progress-circular>
  </div>
</template>

<script>
import Color from "@/services/Color";
export default {
  name: "GenericCard",
  computed: {
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
    getTheme() {
      return this.darkMode ? { color: "#fff" } : {};
    },
    getBackground() {
      return this.darkMode
        ? { background: "rgb(70,70,70)", color: "#fff" }
        : {};
    },
    getBoxShadow() {
      return this.color ? { boxShadow: `0 0 3px 0 ${this.color}` } : "";
    },
    getColorText() {
      return Color.lightOrDark(this.background.background);
    },
  },
  props: {
    subtitle: String,
    title: String,
    icon: String,
    color: String,
    onClose: Function,
    background: Object,
    ready: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    _onHandle() {
      return this.onClose ? this.onClose() : this.$router.back();
    },
  },
};
</script>

<style scoped>
.generic-container {
  height: 100vh;
}

.close-tag {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.close-tag-black {
  background: black;
  height: 20px;
  display: flex;
  align-items: center;
}

.remove-padding {
  padding-bottom: 0;
}

.spinner {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.header-img .title,
.header-img .subtitle {
  margin-top: 5px;
  color: white;
  display: flex;
  justify-content: center;
}

.header-img .subtitle {
  background: black;
  width: 30%;
  margin: 0 auto;
  font-size: 14px;
  height: 18px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 2px black;
}

@media only screen and (max-width: 1044px) {
  .header-img .subtitle {
    width: 80%;
  }
}
</style>