<template>
  <div>
    <div>
      <line-chart legend="bottom" xtitle="Data" ytitle="Commits" :data="data" />
    </div>
    <div>
      <pie-chart
        v-if="user.type === 'TEACHER'"
        legend="bottom"
        xtitle="Data"
        ytitle="Commits"
        :data="pie_data"
      />
    </div>
  </div>
</template>

<script>
import moment from "moment";
import TaskService from "@/services/TaskService";
import { showError } from "@/global";
import { mapState } from "vuex";

export default {
  name: "GrapStudents",
  props: {
    task_id: String,
  },
  computed: {
    ...mapState("user", ["user"]),
  },
  data: () => ({
    data: [],
    pie_data: [],
  }),
  created() {
    TaskService.students(this.task_id)
      .then((resp) => {
        let students = resp.data.data.students;
        let data = [];
        let pie_date = [];

        students.forEach((element) => {
          data.push({
            name: element.student_user,
            color: this.getRandomColor(),
            data: this.groupBy(element.contributions),
          });
          pie_date.push([element.student_user, element.contributions.length]);
        });
        this.data = data;
        this.pie_data = pie_date;
      })
      .catch((error) => {
        showError(error);
      });
  },
  methods: {
    getRandomColor() {
      var letters = "0123456789ABCDEF";
      var color = "#";
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    },
    groupBy(xs) {
      return xs.reduce((p, c) => {
        var name = moment(c.date).locale("pt-BR").format("L");
        if (!{}.hasOwnProperty.call(p, name)) {
          p[name] = 0;
        }
        p[name]++;
        return p;
      }, {});
    },
  },
};
</script>

<style>
</style>