<template>
    <v-card class="container invite-card">
        <!-- title -->
        <v-row>
            <v-col>
                <PageTitle title="Olá, Daniel Machado Pintos"/>
            </v-col>
        </v-row>

        <v-card-text>
            <span>
                Você recebeu um convite para entrar na seguinte turma:
            </span>
            <v-text-field color="orange darken-3"
                          messages='Apenas os números'
                          label="GRR"
                          v-model="grr"/>
        </v-card-text>

        <v-card-text class="invite-card-message" style="background-image: url('https://picsum.photos/200/300')">
            <span class="invite-card-message-title">DS454 - Tarde</span>
            <span>Profº Alex Kuzle</span>
        </v-card-text>

        <v-row>
            <v-col>
                <v-btn @click="_onSubmit()">
                    <i class="fab fa-gitlab"></i> Enviar
                </v-btn>
            </v-col>
        </v-row>

        <!-- content login -->
        <div id="auth-login">
            <!-- text-content -->
            <v-card-text>
                <p>"Uma solução de gerenciamento de tarefas entre professores e alunos de universidade que force
                    o aluno
                    a utilizar a aprender o git"</p>
            </v-card-text>
        </div>
    </v-card>
</template>

<script>
    import PageTitle from "../views/template/PageTitle";

    export default {
        name: "InviteCard",
        components: {PageTitle},
        data: () => ({
            grr: ''
        }),
        methods: {
            _onSubmit(){

            }
        }
    }
</script>

<style>
    .invite-card h1 {
        margin: 0 !important;
        font-size: 1.5rem;
    }

    .invite-card .invite-card-message{
        background-size: cover;
        box-shadow: 1px 0 3px 0 #9a9a9a;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .invite-card .invite-card-message span:first-child{
        font-size: 1.3rem;
        color: white;
        background-color: black;
    }

    .invite-card .invite-card-message span:nth-child(2){
        background-color: white;
    }
</style>
