<template>
    <v-list>
        <v-subheader>{{name}}</v-subheader>
        <v-list-item v-for="(item, i) in items" :key="i">
            <v-list-item-icon>
                <v-icon color="orange darken-3" v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
                <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </v-list>
</template>

<script>
    export default {
        name: "ListFiles",
        props: {
            items: Array,
            name: String
        }
    }
</script>

<style scoped>

</style>