<template>
  <v-list>
    <v-subheader class="grey--text"
      >total de tarefas finalizadas: {{ count }}</v-subheader
    >
    <v-list-item-group color="orange darken-3" v-if="ready">
      <v-list-item
        v-for="(item, i) in visiblePages"
        :key="i"
        @change="_openTask(item)"
      >
        <v-list-item-icon>
          <v-icon color="orange darken-3">fas fa-pencil-alt</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title v-text="item.name" />
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
    <v-progress-circular
      v-else
      class="spinner"
      size="80"
      indeterminate
      color="orange"
    ></v-progress-circular>
    <v-pagination v-model="page" color="orange" :length="Math.ceil(count / perPage)">
    </v-pagination>
  </v-list>
</template>

<script>
import ClassService from "@/services/ClassService";
import { mapState } from "vuex";
import { showError } from "@/global";

export default {
  name: "ListTasksClosed",
  computed: {
    ...mapState("classes", ["oneClass"]),
    visiblePages() {
      return this.closed_assignments.slice(
        (this.page - 1) * this.perPage,
        this.page * this.perPage
      );
    },
  },
  data: () => ({
    closed_assignments: [],
    count: 0,
    page: 1,
    perPage: 3,
    ready: false,
  }),
  created() {
    ClassService.assignments(this.oneClass.external_id, "CLOSED")
      .then((resp) => {
        let result = [];
        Object.values(resp.data.data).map((e) => {
          result.push(e);
        });
        this.closed_assignments = result;
        this.count = Object.keys(this.closed_assignments).length;
      })
      .catch((error) => showError(error))
      .finally(() => (this.ready = true));
  },
  methods: {
    _openTask(item) {
      const { classroom_external_id, assignment_external_id } = item;

      return this.$router.push(
        `${classroom_external_id}/task/${assignment_external_id}`
      );
    },
  },
};
</script>

<style scoped>
</style>