<template>
  <v-list>
    <v-subheader
      >Quantidade de membros: {{ oneClass.members.length }}</v-subheader
    >
    <v-list-item-group color="orange darken-3">
      <v-list-item v-for="(item, i) in oneClass.members" :key="i">
        <v-list-item-avatar>
          <v-img :src="item.avatar_url"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title v-text="item.name"></v-list-item-title>
          <v-list-item-subtitle
            v-text="item.type === 'TEACHER' ? 'professor' : 'aluno'"
          ></v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action v-if="item.type === 'STUDENT'">
          <v-btn icon @click.stop="setAlert(item, true)">
            <v-icon small color="red">fas fa-trash</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </v-list-item-group>
    <v-dialog v-model="alert" max-width="300" :dark="darkMode">
      <v-card>
        <v-card-title>Excluir Aluno</v-card-title>
        <v-card-text
          >A ação abaixo implicará na exclusão do(a) aluno, você tem certeza que
          deseja continuar?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn small class="white--text" color="green" @click="alert = false"
            >Cancelar</v-btn
          >
          <v-btn
            small
            class="white--text"
            color="red darken-1"
            @click="_onDelete"
            >Remover Aluno
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-list>
</template>

<script>
import { mapState } from "vuex";
import ClassService from "@/services/ClassService";
import { showError, showSuccess } from "@/global";

export default {
  name: "ListMembers",
  data: () => ({
    alert: false,
    student: {},
  }),
  props: {
    class_id: String,
  },
  computed: {
    ...mapState("classes", ["oneClass"]),
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
  },
  methods: {
    setAlert(item, state = true) {
      this.student = item;
      this.alert = state;
    },
    _onDelete() {
      ClassService.removeMember(this.class_id, this.student.username)
        .then(() => {
          showSuccess("Você removeu o aluno ");
          setTimeout(() => {
            this.$router.go(0);
          }, 300);
        })
        .catch((error) => showError(error));
    },
  },
};
</script>

<style scoped>
</style>