<template>
  <v-card class="container">
    <!-- title -->
    <v-row>
      <v-col>
        <PageTitle :title="showForm ? 'Cadastrar' : 'Login'" />
      </v-col>
    </v-row>

    <!-- content login -->
    <div id="auth-login">
      <div v-if="showForm">
        <v-row>
          <v-col md="12">
            <v-text-field
              v-if="user.type === 'STUDENT'"
              color="orange darken-3"
              name="grr"
              messages="Apenas os números"
              label="GRR"
              v-model="user.registration_number"
            />
            <v-text-field
              v-if="user.type === 'STUDENT'"
              name="email"
              color="orange darken-3"
              messages="Campo obrigatório(*)"
              label="E-mail"
              v-model="user.email"
            />
            <v-text-field
              v-else
              name="email"
              color="orange darken-3"
              messages="Com o dominio de @ufpr.br"
              label="E-mail"
              v-model="user.university_email"
            />
          </v-col>
        </v-row>

        <v-row>
          <v-col md="12">
            <span class="theme--light v-messages"
              >Escolha alguma das opções:</span
            >
            <TypeRadioGroup :value="user.type" :_onChange="_onChange" />
          </v-col>
        </v-row>
      </div>
      <v-row>
        <v-col>
          <v-btn @click="showForm ? submit() : authenticate()">
            <i class="fab fa-gitlab"></i>
            {{ showForm ? "Cadastrar" : "Login" }}
          </v-btn>
        </v-col>
      </v-row>

      <!-- text-content -->
      <v-card-text>
        <p>Realize seu login e confira o que há de novo hoje!</p>
      </v-card-text>
    </div>
  </v-card>
</template>

<script>
import PageTitle from "../views/template/PageTitle";
import {
  clientId,
  redirectUrlLogin,
  scopeApi,
  showError,
  userKey,
  showSuccess,
} from "@/global";
import UserService from "@/services/UserService";
import TypeRadioGroup from "@/components/TypeRadioGroup";
import { mapMutations } from "vuex";

export default {
  name: "LoginCard",
  components: { TypeRadioGroup, PageTitle },
  props: {
    showForm: Boolean,
  },
  data: () => ({
    user: {
      registration_number: "",
      university_email: "",
      type: "TEACHER",
      email: "",
    },
  }),
  methods: {
    ...mapMutations("user", ["setUser"]),
    authenticate() {
      window.location.href = `https://gitlab.com/oauth/authorize?client_id=${clientId}&redirect_uri=${redirectUrlLogin}&response_type=code&state=${UserService.generateHash()}&scope=${scopeApi}`;
    },
    _onChange(state) {
      this.user.type = state;
    },
    submit() {
      const { type, registration_number, university_email, email } = this.user;
      if (
        (type === "STUDENT" &&
          registration_number.length === 8 &&
          UserService.validateEmail(email)) ||
        (type === "TEACHER" &&
          UserService.validateEmail(university_email) &&
          university_email.includes("ufpr.br"))
      ) {
        UserService.register({ ...this.user, code: this.$route.query.code })
          .then((resp) => {
            this.setUser(resp.data.data);
            localStorage.setItem(userKey, JSON.stringify(resp.data.data));
            localStorage.setItem(
              "code",
              JSON.stringify(this.$route.query.code)
            );
            showSuccess("Você acabou de logar");
            this.$router.push("/");
          })
          .catch((er) => {
            const { message, status } = er.response.data;
            showError(message || status);
          });
      } else if (type === "STUDENT")
        showError("por favor, preencha o campo de GRR e o E-mail corretamente");
      else showError("por favor, preencha o campo de E-mail corretamente");
    },
  },
};
</script>

<style>
.auth-content-body .container {
  max-width: 500px;
}

.auth-content-body .page-title h1,
h2 {
  text-align: center;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.auth-content-body button {
  width: 100%;
  background-color: #ffffff !important;
}

.auth-content-body a {
  text-decoration: none;
  outline: none;
  color: coral;
}

@media only screen and (max-width: 768px) {
  .auth-content-body .container {
    width: 400px;
  }
}
</style>
