<template>
  <div>
    <v-app-bar dense height="30" dark>
      <v-spacer></v-spacer>
      <span class="text-style">Entre em contato</span>
    </v-app-bar>
    <v-app-bar color="accent-4" dense>
      <v-toolbar-title color="white--text">
        <v-icon color="orange" class="mr-3">fab fa-gitlab</v-icon> GitLab Classroom
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn @click="_onHandler" small color="orange" class="white--text mr-2"
        >Login</v-btn
      >
    </v-app-bar>
  </div>
</template>

<script>
export default {
  name: "MenuHomePage",
  methods: {
    _onHandler() {
      window.location.href = "http://localhost:8080/";
    },
  },
};
</script>

<style scoped>
.text-style {
  font-family: "Montserrat", sans-serif;
}
</style>