<template>
  <div class="submenu">
    <div class="menu-item" @click="method('User')">
      <v-icon :color="getColor">fas fa-user</v-icon>
      <span>Usuário</span>
    </div>
    <div class="menu-item" @click="method('NewClass')" v-if="user.type === 'TEACHER'">
      <v-icon :color="getColor">fas fa-book-open</v-icon>
      <span>Nova Turma</span>
    </div>
    <div class="menu-item" @click="method('NewTask')" v-if="user.type === 'TEACHER'">
      <v-icon :color="getColor">fas fa-pencil-alt</v-icon>
      <span>Nova Tarefa</span>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "MenuItems",
  computed: {
    ...mapState(["darkMode"]),
    ...mapState("user", ["user"]),
    getColor() {
      return this.darkMode ? "white" : "black";
    },
  },
  props: {
    method: { type: Function },
  },
};
</script>

<style>
.submenu {
  flex: 1;
}

.submenu .menu-item {
  margin: 0 auto;
  padding: 15px 10px;

  font-size: 14px;
  text-align: center;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
</style>