<template>
  <v-dialog v-model="modalStudent" persistent max-width="80%">
    <v-card :dark="darkMode">
      <v-card-title>
        <v-icon color="orange">fas fa-pencil-alt</v-icon>
        <span class="ml-2">Adicionar Aluno</span>
        <span @click="_onClose" class="close-tag">&times;</span>
      </v-card-title>
      <v-card-subtitle class="mt-1"
        >Informe o GRR do aluno para que seja validado na plataforma. Caso o
        aluno ainda não esteja cadastrado, informe os demais dados para que seja
        enviado um e-mail solicitando seu cadastro.</v-card-subtitle
      >
      <v-card-text>
        <v-row>
          <v-col sm="6" xs="12">
            <v-text-field
              name="grr"
              color="orange"
              placeholder="GRR do aluno"
              hint="Campo obrigatório e apenas os números(*)"
              persistent-hint
              type="text"
              :loading="loading"
              v-model="student.grr"
            />
          </v-col>
          <v-col sm="6" xs="12">
            <v-text-field
              :disabled="disabled"
              color="orange"
              name="email"
              hint="Campo obrigatório(*)"
              persistent-hint
              placeholder="Email do aluno"
              type="email"
              v-model="student.email"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col sm="6" xs="12">
            <v-text-field
              :disabled="disabled"
              v-if="!enableEmail"
              name="nome"
              color="orange"
              placeholder="Nome do aluno"
              hint="Campo obrigatório(*)"
              persistent-hint
              type="text"
              v-model="student.name"
            />
          </v-col>
          <v-col sm="6" xs="12">
            <v-text-field
              :disabled="disabled"
              v-if="!enableEmail"
              name="username"
              color="orange"
              placeholder="Nome de usuário do aluno no Git"
              hint="Campo obrigatório(*)"
              persistent-hint
              type="text"
              v-model="student.username"
            />
          </v-col>
        </v-row>
        <div class="actions">
          <v-btn
            v-if="enableEmail"
            color="orange"
            class="white--text mr-5"
            type="button"
            @click="_sendEmail"
            :loading="sendEmailLoading"
            >Enviar e-mail</v-btn
          >
          <v-btn
            :disabled="!inputsValidos"
            color="orange"
            class="white--text"
            type="button"
            :loading="sendDataLoading"
            @click="_addUserClass"
            >Adicionar</v-btn
          >
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
import { mapState, mapMutations } from "vuex";
import UserService from "@/services/UserService";
import ClassService from "@/services/ClassService";
import { showError, showSuccess } from "@/global";

export default {
  name: "NewStudentModal",
  props: {
    created: {
      type: Boolean,
      default: false,
    },
    classId: String,
  },
  data: () => ({
    disabled: true,
    student: {},
    loading: false,
    sendDataLoading: false,
    enableEmail: false,
    sendEmailLoading: false,
    isAllValid: false,
  }),
  computed: {
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
    ...mapState("classes", ["newStudentModal", "modalStudent", "members"]),
    inputsValidos() {
      const { name, grr, email } = this.student;
      console.log(this.isAllValid);
      if (this.isAllValid) return true;
      return name && parseInt(grr, 10) && UserService.validateEmail(email);
    },
    grr() {
      return this.student.grr;
    },
  },
  watch: {
    grr(newValue) {
      if (newValue && newValue.length === 8) {
        this.loading = true;
        UserService.getBy(newValue)
          .then((resp) => {
            if (resp.data.response_status === "success") {
              const {
                registration_number,
                name,
                email,
                username,
                avatar_url,
              } = resp.data.data.users;
              this.enableEmail = false;
              this.student.grr = registration_number;
              if (email) this.student.email = email;
              this.student.name = name;
              this.student.username = username;
              this.student.avatar_url = avatar_url;

              if (name && username && UserService.validateEmail(email)) {
                this.isAllValid = true;
              } else this.isAllValid = false;
            }
          })
          .catch(() => {
            this.enableEmail = true;
            this.isAllValid = false;
            showError("não está cadastrado no sistema");
          })
          .finally(() => {
            this.disabled = false;
            this.loading = false;
          });
      }
    },
  },
  methods: {
    ...mapMutations("classes", ["pushUserToClass", "setModalStudent"]),
    _addUserClass() {
      this.sendDataLoading = true;
      if (this.members.findIndex((e) => e.grr === this.student.grr) === -1) {
        if (this.created) {
          return ClassService.addMember(this.classId, this.student.username)
            .then(() => {
              showSuccess("foi adicionado com sucesso");
              this.setModalStudent(false);
              setTimeout(() => {
                this.$router.go(0);
              }, 300);
            })
            .catch((error) => showError(error))
            .finally(() => (this.sendDataLoading = false));
        } else {
          this.pushUserToClass(this.student);
          this.student = {};
          this.sendDataLoading = false;
          this.setModalStudent(false);
        }
      } else {
        this.sendDataLoading = false;
        showError("Já foi adicionado um usuário com esse grr");
      }
    },
    _sendEmail() {
      this.sendEmailLoading = true;
      ClassService.sendEmail(this.student.email)
        .then(() => {
          showSuccess("o e-mail foi enviado");
          this.sendEmailLoading = false;
          this.student = {};
          this.setModalStudent(false);
          this.enableEmail = false;
        })
        .catch((error) => showError(error));
    },
    _onClose() {
      this.setModalStudent(false);
    },
  },
};
</script>

<style scoped>
.actions {
  display: flex;
  justify-content: flex-end;
}

.close-tag {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}
</style>
