<template>
  <v-dialog persistent v-model="modal" max-width="500">
    <v-card>
      <v-card-title class="header">
        {{ task.title }}
        <v-spacer />
        <div class="closed" @click="_onCloseModal">&times;</div>
      </v-card-title>
      <v-card-subtitle>Prazo Final: 12/03/2020</v-card-subtitle>

      <v-card-text class="body">
        <v-row>
          <v-col md="12" align="center">
            <div class="user">
              <v-gravatar :hash="student.student_user" class="mr-2" />
            </div>
            <div class="info-user">
              <span>Aluno: {{ student.student_user }}</span>
              <span>Ultimo commit:12/04/2020</span>
              <v-btn
                small
                color="amber darken-3 "
                class="white--text"
                @click="_openRepository"
              >
                <v-icon small class="mr-2">fab fa-gitlab</v-icon>Repositório
              </v-btn>
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col md="12" align="center">
            <v-text-field
              class="input-repository"
              type="number"
              v-model="input"
              hint="deverá ser um numero com o máximo 10"
              color="orange darken-3"
              :label="getLabel"
            />
          </v-col>
        </v-row>
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn
          small
          color="red darken-3"
          class="white--text"
          @click="_onSave('plagiarism')"
        >
          <v-icon small color="white" class="mr-2">fas fa-trash</v-icon>Plágio
        </v-btn>
        <v-btn
          small
          color="light-green "
          class="white--text"
          @click="_onSave('grade')"
        >
          <v-icon small color="white" class="mr-2">fas fa-check</v-icon>Corrigir
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import { showError, showSuccess } from "@/global";
import TaskService from "@/services/TaskService";

export default {
  name: "NoteCorrectionModal",
  computed: {
    ...mapState("task", ["modal", "task"]),
    getLabel() {
      return `Nota para o aluno: ${this.student.student_user} (nota entre 0 e 10)`;
    },
  },
  data: () => ({
    input: 0,
  }),
  props: {
    student: {
      type: Object,
      required: true,
    },
    task_id: String,
  },
  methods: {
    ...mapMutations("task", ["setModal"]),
    _openRepository() {
      window.location.href = this.student.remote_url;
    },
    _onCloseModal() {
      this.setModal(false);
    },
    _onSave(type) {
      if (type == "plagiarism" || (this.input && this.input <= 10)) {
        TaskService.post_grade(this.task_id, {
          grades: [
            {
              student_name: this.student.student_user,
              grade: type == "plagiarism" ? 0 : this.input,
            },
          ],
        })
          .then((resp) => {
            console.log(resp);

            if (type == "plagiarism") showError("a pessoa plagiou");
            else showSuccess();

            this.setModal(false);
          })
          .catch((error) => {
            console.log(error);
            showError("não foi possivel atribuir a nota");
          });
      } else if (this.input > 10)
        showError("por favor preencha um número abaixo de 100");
      else showError("por favor revise o campo");
    },
  },
};
</script>

<style scoped>
.header .closed {
  cursor: pointer;
}
.body .user img {
  border-radius: 50%;
  box-shadow: 0 1px 0 0 black;
}

.body .info-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body .info-user button {
  margin-top: 10px;
  width: 50%;
  margin: 0 auto;
}

.body .input-repository {
  margin-top: 10px;
  width: 70%;
}
</style>