<template>
  <div>
    <v-card v-if="user.type === 'STUDENT'" :dark="darkMode">
      <v-img
        height="150"
        src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80"
      ></v-img>
      <v-card-title> Seja bem-vindo(a), {{ user.name }} </v-card-title>
      <v-card-subtitle class="text-start">
        "Esta plataforma foi desenvolvida para que você tenha a melhor jornada
        possível no aprendizado de novas tecnologias!"
      </v-card-subtitle>
      <v-card-text class="mt-2 mb-2">
        Como você é um estudante novo no sistema, ainda não foi adicionado a
        nenhuma turma. Mas logo seu professor irá adicioná-lo(a) a uma e assim
        poderá iniciar as suas atividades."
      </v-card-text>
      <v-card-text> </v-card-text>
    </v-card>

    <div class="presentations" v-else>
      <img class="ml-5" width="150px" :src="arrow" />
      <span class="ml-5" :style="getTheme"
        >Crie uma nova turma e <br />
        inicie suas atividades!
      </span>
    </div>
  </div>
</template>

<script>
import arrow from "../assets/imgs/seta.png";
import { mapState } from "vuex";
export default {
  name: "PresentationCard",
  data: () => ({
    arrow,
  }),
  computed: {
    ...mapState("user", ["user"]),
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
    getTheme() {
      return this.darkMode ? { color: "#fff" } : { color: "#000" };
    },
  },
};
</script>

<style scoped>
.presentations {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>