<template>
  <v-dialog v-model="showGrade" max-width="300">
    <v-card :dark="darkMode">
      <v-card-title>Parabéns! 🚀 </v-card-title>
      <v-card-text
        >O professor já corrigiu a sua tarefa, e atribuiu para você:
      </v-card-text>
      <v-card-text>
        <h2>{{ grade.toFixed(1) }}</h2>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn small color="grey" @click="showGrade = false">Ok</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import TaskService from "@/services/TaskService";
import { showError } from "@/global";

export default {
  name: "ShowGrade",
  data: () => ({
    showGrade: false,
    grade: 10.0,
  }),
  props: {
    name: String,
    task_id: String,
  },
  computed: {
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
  },
  created() {
    TaskService.getAllGrades(this.task_id)
      .then((resp) => {
        let students = resp.data.data;
        let findArray = students.find(
          (element) => element.student === this.name
        );
        if (findArray) this.showGrade = true;
        this.grade = findArray ? parseInt(findArray["grade"]) : 0;
      })
      .catch((error) => {
        showError(error);
      });
  },
};
</script>

<style scoped>
</style>