<template>
  <v-dialog v-model="showCommit" max-width="80%">
    <v-card :dark="darkMode">
      <v-card-title
        ><v-icon small class="mr-3">fas fa-code-branch</v-icon>Commits
      </v-card-title>
      <v-card-text>
        <v-data-table :headers="headers" :items="commits">
          <template v-slot:item.commit_url="{ item }">
            <a :href="item.commit_url">{{ item.commit_url.slice(-40) }}</a>
          </template>
          <template v-slot:no-data>
            <p>Não foi encontrado registros</p>
          </template>
        </v-data-table>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn small color="grey" @click="setshowCommit(false)">Ok</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import TaskService from "@/services/TaskService";
import { showError } from "@/global";
import { mapMutations } from "vuex";

export default {
  name: "ShowCommits",
  data: () => ({
    headers: [
      { text: "Data", value: "date" },
      { text: "Link para o Commit", value: "commit_url" },
      { text: "Mensagem", value: "message" },
    ],
    commits: [],
  }),
  computed: {
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
    showCommit: {
      get() {
        return this.$store.state.task.showCommit;
      },
      set(state) {
        this.setshowCommit(state);
      },
    },
  },
  props: {
    task_id: String,
  },
  methods: {
    ...mapMutations("task", ["setshowCommit"]),
  },
  created() {
    console.log(this.task_id);
    TaskService.students(this.task_id)
      .then((resp) => {
        let students = resp.data.data.students;
        students.map((element) => {
          this.commits.push(element.contributions);
        });
        this.commits = [].concat.apply([], this.commits);
      })
      .catch((error) => {
        showError(error);
      });
  },
};
</script>

<style scoped>
</style>