<template>
  <div class="table">
    <v-card :dark="darkMode">
      <v-card-title>
        Estudantes
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          color="orange darken-3"
          append-icon="mdi-magnify"
          label="Pesquise pelo Aluno"
          hint="Aqui você pode pesquisar pelo aluno que pertence a turma"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-card-subtitle>
        <v-btn
          small
          color="black"
          class="white--text mr-2"
          @click="csvExport(csvData)"
        >
          Exportar para CSV
        </v-btn>
      </v-card-subtitle>
      <v-data-table
        :headers="headers"
        :items="students"
        :search="search"
        class="elevation-2"
      >
        <template v-slot:item.name="{ item }">
          <div class="user">
            <v-gravatar :hash="student.student_user" class="mr-2" />
            <span>{{ item.student_user }}</span>
          </div>
        </template>
        <template v-slot:item.grade="{ item }">
          {{ item.grade }}
        </template>
        <template v-slot:item.commits="{ item }">
          <div :style="{ cursor: 'pointer' }" @click="setshowCommit(item)">
            <v-icon small>fas fa-code-branch</v-icon>
            {{ item.contributions.length }}
          </div>
        </template>
        <template v-slot:item.accepted_at="{ item }">
          {{ getDate(item.accepted_at) }}
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="showRepository(item)"
            >fab fa-git</v-icon
          >

          <!-- show student grade  -->
          <v-icon small v-if="item.grade" color="green"
            >fas fa-check-circle</v-icon
          >
          <v-icon
            small
            v-else-if="status === 'CLOSED'"
            @click="_onCorrectStudentGrade(item)"
            >far fa-check-circle</v-icon
          >

          <v-tooltip v-else bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-icon small v-bind="attrs" v-on="on" color="red"
                >fas fa-check-circle</v-icon
              >
            </template>
            <span>Você precisa fechar a turma primeiro</span>
          </v-tooltip>
        </template>
        <template v-slot:no-data>
          <p>Não foi encontrado registros</p>
        </template>
      </v-data-table>
    </v-card>

    <show-commits :task_id="task_id" />

    <!-- modal -->
    <note-correction-modal
      v-if="student"
      :task_id="task_id"
      :student="student"
    />
  </div>
</template>

<script>
import moment from "moment";
import NoteCorrectionModal from "@/components/NoteCorrectionModal";
import ShowCommits from "@/components/ShowCommits";
import TaskService from "@/services/TaskService";
import { showError } from "@/global";
import { mapMutations } from "vuex";

export default {
  components: { NoteCorrectionModal, ShowCommits },
  computed: {
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
    csvData() {
      if (!this.students) return [];
      return this.students.map((item) => ({
        ...item,
        contributions: item.contributions.length,
        grade: item.grade || 0,
      }));
    },
  },
  props: {
    task_id: String,
    status: String,
  },
  data: () => ({
    dialog: false,
    headers: [
      { text: "Nome", align: "start", value: "name" },
      { text: "Commits", value: "commits" },
      { text: "Nota", value: "grade" },
      { text: "Quando foi aceito", value: "accepted_at" },
      { text: "Ações", value: "actions" },
    ],
    search: "",
    students: [],
    student: {},
  }),
  created() {
    TaskService.students(this.task_id)
      .then((resp) => {
        this.students = resp.data.data.students;
      })
      .catch((error) => {
        showError(error);
      });
  },
  methods: {
    ...mapMutations("task", ["setModal", "setshowCommit"]),
    csvExport(arrData) {
      let csvContent = "data:text/csv;charset=utf-8,";
      csvContent += [
        Object.keys(arrData[0]).join(";"),
        ...arrData.map((item) => Object.values(item).join(";")),
      ]
        .join("\n")
        .replace(/(^\[)|(\]$)/gm, "");

      const data = encodeURI(csvContent);
      const link = document.createElement("a");
      link.setAttribute("href", data);
      link.setAttribute("download", "export.csv");
      link.click();
    },
    showRepository(item) {
      window.location.href = item.remote_url;
    },
    getDate(date) {
      return moment(date).locale("pt-BR").format("LL");
    },
    _onCorrectStudentGrade(item) {
      this.student = item;
      this.setModal();
    },
  },
};
</script>

<style scoped>
.user {
  display: flex;
}

.user img {
  width: 26px;
}
</style>