<template>
  <div class="cover-page">
    <div class="close-tag" @click="closeTips">x</div>
    <input type="hidden" id="testing-code" :value="testingCode" />
    <v-container>
      <v-row>
        <v-col md="12">
          <p>
            <span>1</span> Aqui no GitLab Classroom você pode ver a nova tarefa
            <br />
            que o professor criou
          </p>
          <p>
            <span>2</span> Visite o repositório desta tarefa criado para
            <br />
            você clicando em "Visualizar Repositório";
          </p>
          <p>
            <span>3</span> Aqui vai um resumo dos comandos para que você <br />
            realize a tarefa:
            <ul>
              <li>Clique em "Baixar repositório" logo abaixo e você irá obter <br> o comando:
                git clone [seu repositório]</li>
              <li> Cole o comando no seu terminal e o repositório será <br> baixado em sua máquina</li>
              <li> Realize suas alterações e utilize gitt add . para <br> adicionar os novos arquivos que você criou;</li>
              <li> Utilize git commit -m "notas referentes a esse commit" <br> para salvar as alterações; </li>
              <li> Por fim você envia as atualizações para o repositório <br> com git push;</li>
            </ul>
          </p>
          <p>
            <span>4</span> Assim que a tarefa for fechada, o professor <br>irá realizar a correção e atribuir a sua nota.
          </p>
          <p>
            <span>5</span> Por final você manda as alterações para o site <br />
            com <em>git push</em>
          </p>
          <p>
            <span>6</span> Você pode rever este texto clicando em <br>
            "Rever Instruções";
          </p>
          <p><span>Obrigado por confiar na gente :) </span> <span>|</span></p>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn @click="copiedText" color="green darken-4" class="white--text">
            Baixar repositório
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import TaskService from "@/services/TaskService";
import { showSuccess, showError } from "@/global";
import { mapMutations } from "vuex";

export default {
  name: "Tips",
  data: () => ({
    show: false,
    testingCode: "git clone",
  }),
  props: {
    name: String,
    id: String,
  },
  created() {
    var gitInstructions = "git clone";
    TaskService.students(this.id)
      .then((resp) => {
        let members = resp.data.data.students;
        let member = members.find(
          (element) => element.student_user === this.name
        );
        console.log('sakdjasd');
        if (member) {
          this.testingCode = gitInstructions + " " + member.remote_url;
        } else showError("não foi possivel copiar");
      })
      .catch((error) => showError(error));
  },
  methods: {
    ...mapMutations("task", ["setTips"]),
    copiedText() {
      let testingCodeToCopy = document.querySelector("#testing-code");
      testingCodeToCopy.setAttribute("type", "text");
      testingCodeToCopy.select();

      // pegar copy
      document.execCommand("copy");
      testingCodeToCopy.setAttribute("type", "hidden");
      window.getSelection().removeAllRanges();
      showSuccess("Copiei as instruções");
    },
    closeTips() {
      this.setTips(false);
      setTimeout(() => {
        this.$router.go(0);
      }, 300);
    },
  },
};
</script>

<style scoped>
.close-tag {
  color: lime;
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
  margin-top: 2%;
  cursor: pointer;
}

.cover-page {
  color: black;
  z-index: 100;
  position: absolute;
  background: black;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

p {
  color: lime;
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  opacity: 0;
  animation: type 4s steps(60, end) forwards;
  -webkit-user-select: none;
  user-select: none;
}

p:nth-child(2) {
  animation-delay: 1s;
}

p:nth-child(3) {
  animation-delay: 2s;
}

p:nth-child(4) {
  animation-delay: 3s;
}

p:nth-child(5) {
  animation-delay: 4s;
}

p:nth-child(6) {
  animation-delay: 5s;
  margin-bottom: 25px;
}

p:nth-child(7) {
  animation-delay: 6s;
}

p:nth-child(7) span:first-child {
  animation-duration: 0.8s;
}

span {
  animation: blink 1.8s infinite 8s;
}

p a {
  color: lime;
  text-decoration: none;
}

@keyframes type {
  0% {
    opacity: 1;
  }

  100% {
    width: 30em;
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

::selection {
  background: black;
}
</style>