<template>
    <v-row class="radio-group">
        <v-col md="5"
               :class="value === 'TEACHER' ? 'active' : ''"
               class="radio-item text-center"
               @click="_onChange('TEACHER')">
            <span>Professor</span>
            <v-icon>fas fa-university</v-icon>
        </v-col>
        <v-col md="5"
               :class="value === 'STUDENT' ? 'active' : ''"
               class="radio-item text-center"
               @click="_onChange('STUDENT')">
            <span>Aluno</span>
            <v-icon>fas fa-graduation-cap</v-icon>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: "TypeRadioGroup",
        props: {
            value: {
                type: String,
                required: true
            },
            _onChange: {
                type: Function
            }
        },
    }
</script>

<style scoped>
    .radio-group {
        padding: 0 5px;
    }

    .radio-item {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 1px 2px 0 black;
    }

    .radio-item.active {
        box-shadow: 0 1px 4px 0 #c17a01;
        background-color: #ff98008c ;
        color: white;
    }

    .radio-item.active i{
        color: white;
    }

</style>