<template>
  <div class="user-menu">
    <v-container>
      <v-card :dark="darkMode">
        <v-row>
          <v-col md-="12" class="text-center">
            <v-img :src="user.avatar_url" />
          </v-col>
        </v-row>
        <v-card-title>{{ user.name }}</v-card-title>
        <v-card-subtitle>{{
          user.type === "TEACHER" ? "Professor" : "Estudante "
        }}</v-card-subtitle>
        <v-card-text v-if="!editUser">
          {{ getText }}
        </v-card-text>
        <v-card-text v-else>
          <v-text-field label="Nome" v-model="user.name" />
          <v-text-field
            v-if="user.type === 'STUDENT'"
            label="E-mail"
            v-model="user.email"
          />
          <v-text-field v-else label="E-mail" v-model="user.university_email" />
        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            v-if="!editUser"
            @click="editUser = true"
            width="100%"
            color="grey darken-4"
            class="white--text"
          >
            Editar
          </v-btn>
          <v-btn
            small
            v-else
            @click="_onSubmit"
            width="100%"
            color="grey darken-4"
            class="white--text"
          >
            Finalizar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import UserService from "@/services/UserService";
import { showSuccess, showError } from "@/global";
import { mapState } from "vuex";

export default {
  name: "UserMenu",
  computed: {
    darkMode: {
      get() {
        return this.$store.state.darkMode;
      },
    },
    getText() {
      if (this.user.type === "TEACHER")
        return "Seu perfil é de professor, você consegue criar novas tarefas, turmas e visualizar inumeros dados";
      return "Seu perfil é de aluno, você consegue fazer tarefas";
    },
    ...mapState("user", ["user"]),
  },
  data: () => ({
    editUser: false,
  }),
  methods: {
    _onSubmit() {
      UserService.update(this.user)
        .then((response) => {
          console.log(response);
          showSuccess("você conseguiu editar");
        })
        .catch(showError);

      this.editUser = false;
    },
  },
};
</script>

<style scoped>
.user-menu {
  position: fixed;
  height: 100vh;
  width: 300px;

  z-index: 1;
}

.user-menu img {
  border-radius: 50%;
}

@media only screen and (max-width: 599px) {
  .user-menu {
    width: calc(100vw - 45px);
    background: rgba(0, 0, 0, 0.44);
  }
}
</style>