<template>
  <v-container class="admin">
    <div v-if="ready">
      <v-row v-if="classes.length === 0">
        <v-col md="12" class="text-center">
          <btn-add-klass
            v-if="user.type === 'TEACHER'"
            text="Adicionar Turma"
            width="500"
            height="242"
          />
          <presentation-card />
        </v-col>
      </v-row>
      <v-row v-else>
        <v-col sm="6" v-for="klass in classes" :key="klass.id">
          <CardClasses :item="klass" />
        </v-col>
        <v-col sm="6" v-if="user.type === 'TEACHER'">
          <btn-add-klass text="Adicionar Turma" width="500" height="242" />
        </v-col>
      </v-row>
    </div>
    <v-row v-else>
      <v-col>
        <v-progress-circular
          class="spinner"
          size="50"
          indeterminate
          color="orange"
        ></v-progress-circular>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CardClasses from "@/components/CardClasses";
import BtnAddKlass from "@/components/BtnAddKlass";
import PresentationCard from "@/components/PresentationCard";
import { mapState, mapMutations } from "vuex";

import ClassService from "@/services/ClassService";
import { showError } from "@/global";

export default {
  name: "Admin",
  data: () => ({
    ready: false,
  }),
  components: { CardClasses, BtnAddKlass, PresentationCard },
  computed: {
    ...mapState("classes", ["classes", "modal"]),
    ...mapState("user", ["user"]),
  },
  methods: mapMutations("classes", ["setClasses"]),
  created() {
    ClassService.all()
      .then((resp) => {
        this.ready = true;
        this.setClasses(resp.data.data);
      })
      .catch((er) => {
        showError(er.response.data);
      });
  },
};
</script>

<style>
.admin {
  height: 100vh;
}

.admin .spinner {
  display: flex;
  margin: 0 auto;
}
</style>
