<template>
  <v-container class="user-show">
    <GenericCard
      :ready="true"
      color="white"
      :title="`#${user.gitlab_id}`"
      :subtitle="user.name"
      :img="user.avatar_url"
    >
      <v-row>
        <v-col md="7">
          <v-list>
            <v-subheader>Dados do usuário</v-subheader>
            <v-list-item-group>
              <v-list-item v-for="(item, i) in fields" :key="i">
                <v-list-item-content>
                  <v-list-item-title v-text="item" />
                  <v-list-item-subtitle v-text="user[item]" />
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-col>
        <v-col md="5">
           <line-chart legend="bottom" xtitle="Data" ytitle="Commits" :data="data" />
        </v-col>
      </v-row>

      <!-- list  -->
      <v-row>
        <v-col md="6">
          <v-list>
            <v-subheader>Turmas Cadastradas</v-subheader>
            <v-list-item-group v-model="clas" color="orange darken-3">
              <v-list-item v-for="(item, i) in classes" :key="i">
                <v-list-item-icon>
                  <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-col>
        <v-col md="6">
          <v-list>
            <v-subheader>Ultimas Tarefas feitas</v-subheader>
            <v-list-item-group v-model="task" color="orange darken-5">
              <v-list-item v-for="(item, i) in tasks" :key="i">
                <v-list-item-icon>
                  <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-col>
      </v-row>
    </GenericCard>
  </v-container>
</template>

<script>
import GenericCard from "@/components/GenericCard";
import { mapActions, mapState } from "vuex";

export default {
  name: "UserShow",
  components: { GenericCard },
  computed: mapState("user", ["user"]),
  methods: {
    ...mapActions("task", ["getTask"])
  },
  data: () => ({
    fields: ["email", "username", "type", "created_at"],
    task: 1,
    clas: 1,
    classes: [
      { text: "DS2312", icon: "fa-book" },
      { text: "DS1231", icon: "fa-book-open" }
    ],
    tasks: [
      { text: "Estrutura de dados", icon: "fa-check" },
      { text: "Iniciação de Programação", icon: "fa-times" }
    ]
  })
};
</script>

<style scoped>
</style>