<template>
  <v-app id="app">
    <Homepage v-if="!user && isHomepage" />
    <Auth v-else-if="!user" />
    <Main v-else />
  </v-app>
</template>

<script>
import Auth from "./views/auth/Auth";
import Homepage from "./views/homepage/Homepage";
import { userKey, themeUser } from "@/global";
import { Main } from "./views/template";
import { mapMutations, mapState } from "vuex";

export default {
  name: "App",
  components: { Main, Auth, Homepage },
  computed: {
    ...mapState("user", ["user"]),
    isHomepage() {
      return this.$router.currentRoute.path.includes("homepage");
    },
  },
  methods: {
    ...mapMutations("user", ["setUser"]),
    validateSession() {
      const json = localStorage.getItem(userKey);
      const userData = JSON.parse(json);

      const themeJson = localStorage.getItem(themeUser);
      const theme = JSON.parse(themeJson);
      
      if (themeJson) {
        this.$store.commit("setTheme", theme);
      }

      // set user
      if (!userData) {
        if (!this.$router.currentRoute.path.includes("authenticate"))
          this.$router.push({ name: "auth" });
      } else {
        this.setUser(userData);
      }
    },
  },
  created() {
    if (!this.isHomepage) this.validateSession();
  },
};
</script>

<style>
:root {
  --webkit-font-smoothing: antialiased;
  --moz-ozx-font-smoothing: grayscale;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: coral;
}
</style>
