<template>
  <div class="auth-container">
    <v-row class="auth-content">
      <!-- background image -->
      <v-col v-show="this.$mq === 'md' || this.$mq === 'lg'" md="8" class="auth-background-image">
        <PageTitle
          title="GitLab Classroom"
          subtitle="Uma nova solução para a virtualização da sua sala de aula."
        ></PageTitle>
      </v-col>

      <!-- card login -->
      <v-col md="4" xs="12" sm="12" class="auth-content-body">
        <InviteCard v-if="inviteForm" />
        <LoginCard :show-form="showForm" v-else />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import PageTitle from "../template/PageTitle";
import { UserService } from "@/services";
import { showError, showSuccess, userKey } from "@/global";
import { mapMutations } from "vuex";
import InviteCard from "@/components/InviteCard";
import LoginCard from "@/components/LoginCard";

export default {
  name: "Auth",
  components: { InviteCard, PageTitle, LoginCard },
  data: () => ({
    showForm: false,
    inviteForm: false,
  }),
  methods: {
    ...mapMutations("user", ["setUser"]),
  },
  created() {
    const params = this.$route.query;

    if (params.error)
      return showError(this.$router.history.current.query.error_description);

    if (params.code) {
      UserService.auth(params.code)
        .then((response) => {
          if (response.data.response_status === "success") {
            if (response.data.data.registration_error) {
              this.showForm = true;
              return showError("Você ainda não está logado na nossa base");
            } else {
              this.setUser(response.data.data.user);
              localStorage.setItem(
                userKey,
                JSON.stringify(response.data.data.user)
              );
              localStorage.setItem(
                "code",
                JSON.stringify(this.$route.query.code)
              );
              showSuccess("Você acabou de logar");
              this.$router.push("/");
            }
          }
        })
        .catch((e) => {
          showError(e.error);
        });
    } else if (params.invite) {
      this.inviteForm = true;
      showSuccess(params.invite);
    }
  },
};
</script>

<style>
.auth-container,
.auth-content {
  height: 100vh;
}

.auth-background-image {
  background-image: url("../../assets/imgs/biblioteca.png");
  background-size: cover;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: flex-start;
}

.auth-background-image > .page-title h1 {
  margin-left: 20px;
  color: white;
}

.auth-background-image > .page-title h2 {
  margin: 20px;
  font-weight: 100;
  color: white;
}

.auth-content-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .auth-container {
    background: url("../../assets/imgs/biblioteca.jpeg");
    background-size: cover;
  }
}
</style>
